[2020-04-28 18:27] jhsiao999 opened #1 "Error: Failed to install 'fastTopics' from GitHub: installation of package ‘RcppArmadillo’ had non-zero exit status"
Hi @pcarbo,

I received an error while installing fastTopics. Please see the end of this message for the session information. Any suggestions?

Thanks,
Joyce

Downloading GitHub repo stephenslab/fastTopics@master

Installing 4 packages: dplyr, RcppParallel, RcppArmadillo, purrr

Error: Failed to install 'fastTopics' from GitHub:
  (converted from warning) installation of package ‘RcppArmadillo’ ha

[2020-04-28 22:36] pcarbo commented on #1
@jhsiao999 What happens when you run

[code]

Do you get an error when installing either of these packages? If so, please share the error message.

[2020-04-29 00:22] jhsiao999 commented on #1
Hi @pcarbo,

I was able to install `Rcpp` but not `RcppArmadillo'. Here's my warning message:

[code]

I check my gcc version. It's 7.3.0.

[code]

[2020-04-29 01:41] pcarbo commented on #1
@jhsiao999 That error message is not terribly informative. Nonetheless, it seems that you are having an issue installing RcppArmadillo for reasons that are not clear. I suggest the following. Download the source [here](https://github.com/RcppCore/RcppArmadillo). Run

[code]

and hopefully that will give you a more informative error message if it fails.

[2020-05-08 19:33] jhsiao999 commented on #1
@pcarbo Thanks for the help. I ended up cloning the RcppArmadillo repository and installing using devtools::install(). I had some issues installing from the source but not sure why...

I am running fastTopics now. Thanks!

[2020-05-08 19:37] pcarbo commented on #1
Great!

[2020-05-08 19:37] #1 closed

[2020-05-09 16:58] jhsiao999 opened #2 "fit_poisson_nmf error with k=2"
@pcarbo I encountered the following error while fitting `fit_poisson_nmf` with k=2 (using `scd` and `extrapolate=TRUE`).

[code]

[2020-05-09 19:44] jhsiao999 opened #3 "fit_poisson_nmf Error in solve.QP(M, d, A, b0)"
@pcarbo

I encountered the following error message when fitting k >= 15. (tried 15, 16, 17)

The dimension of the data is 7,490 cell by 2,540 genes. 72% of the input count matrix has zero entries.

Thanks,
Joyce

[code]

[2020-05-09 19:46] pcarbo commented on #2
@jhsiao999 It should be fixed now—it was a pretty simple fix.

[2020-05-09 19:46] #2 closed

[2020-05-09 19:48] pcarbo commented on #3
It seems like the topic-SCORE initialization still has some rough edges that need to be worked out. @jhsiao999 The simplest workaround, while I investigate this bug, is to run `fit_poisson_nmf` with `init_method = "random"`.

[2020-05-09 19:55] pcarbo commented on #3
I'm guessing it it is due to some columns having very low variance.

[2020-05-11 12:14] pcarbo opened #4 "Implement function to estimate loadings in held-out samples"
Fix `F`, estimate `L` for the held-out samples, then evaluate the log likelihood of the held-out samples.

In sklearn, the API is `fit(X)` to estimate `L` and `F`, and `transform(X)` to estimate `L` for some new `X` (fixing `F`). I'd probably not call it predict, since I would expect such a function to return the estimate of `Lambda = LF'`.

[2020-05-13 12:31] pcarbo commented on #3
@jhsiao999 I made a small change in an attempt to solve your problem. I was unable to reproduce your error, but I think the change I made might help. Can you please reinstall fastTopics and try again?

[2020-05-15 01:40] jhsiao999 commented on #3
@pcarbo The issue appears to have been solved. I re-installed the package and ran the method on my dataset using K=16 and no issue so far. The dataset has 64,240 cells from 18,854 genes. The previous version generated this error at K=12. Thanks!

[2020-05-15 01:58] pcarbo commented on #3
@jhsiao999 Thanks for the update!

[2020-05-15 01:58] #3 closed

[2020-09-03 04:00] pcarbo opened #5 "Take care of warning, "Quick-TRANSfer stage steps exceeded maximum""
Changing the k-means algorithm used in `topic_score` may help solve the issue; see [here](https://stackoverflow.com/questions/21382681/kmeans-quick-transfer-stage-steps-exceeded-maximum).

[2021-01-30 07:42] l-cli opened #6 "Installation issues"
I used the command ` remotes::install_github('stephenslab/seurat-wrappers')` to install the wrappers, but the following error occurred:

![image](https://user-images.githubusercontent.com/55997222/106350633-30ea1700-629c-11eb-825e-1b027e940a9a.png)

Is there a reason for this? I tried both updating the packages recommended by the program as well as not updating them, but it seems to make no differ

[2021-01-30 17:46] pcarbo commented on #6
Hi @l-cli. Looks like the issue occurs when installing fastTopics. Can you please run

[code]

Does it give the same error?

[2021-01-30 17:47] pcarbo commented on #6
Also, can you please run `sessionInfo()` in R and send the output so that I have information about your setup?

[2021-01-30 22:43] l-cli commented on #6
Looks like installing fastTopics separately mysteriously solved it! Thank you for the help!

[2021-01-30 22:43] #6 closed

[2021-02-04 00:30] satriaps opened #7 "Convergence test and input count matrix"
I really like the idea of using NMF as a way to tease out hidden patterns from bulk/sc gene expression data.
1. It is recommended in the vignette to use raw count matrix as an input to the fit_topic_model function. However, raw count data has been empirically known to have a negative binomial distribution and many different transformations have been suggested to take into account the overdispersio

[2021-02-04 13:45] pcarbo commented on #7
@satriaps Thanks for your interest in fastTopics. To answer your questions:

1. The use of the multinomial measurement model (upon which the topic model is based) is supported by several recent publications, among them [Townes *et al* (2019)](doi.org/10.1186/s13059-019-1861-6) and [Sarkar & Stephens (2020)](https://doi.org/10.1101/2020.04.07.030007). It is  true some accounting of overdispersion c

[2021-02-16 11:24] GreenGilad opened #8 "Computing topics over normalized data"
In the ["Analysis of single-cell RNA-seq data, Part 1"](https://stephenslab.github.io/fastTopics/articles/single_cell_rnaseq_basic.html) vignette you explain that the topic models should be executed over the counts data.

However, can it run over non discrete counts data? For example, when running on the integrated data of two datasets using the [Seurat integration procedure](https://satijalab.org

[2021-02-16 13:51] pcarbo commented on #8
@GreenGilad There is only one strict requirement: the count data should be non-negative numbers. Normally I would `GetAssayData(object,"counts")` from Seurat as the `X` input to `fit_poisson_nmf` or `fit_topic_model`. So hopefully you plan to do something similar? Also please know that we have a Seurat wrapper in development [here](https://github.com/stephenslab/seurat-wrappers).

[2021-02-16 15:11] GreenGilad commented on #8
@pcarbo Thanks for the quick reply!
Exactly, over a single Seurat object I do plan to do something that looks like this. The question is, what would be a good approach over an integrated dataset? In that case we do not have the `counts` data but only the `data` (normalized) data. By shifting the values in the matrix such that there are no negative values I will be able to run the topics over the n

[2021-02-16 17:37] pcarbo commented on #8
@GreenGilad I suggest following up by email. fastTopics may or may not be appropriate for your setting; we have not tested fastTopics for joint analysis of multiple data sets. If the differences between the data sets are "small enough", then I think it would be reasonable to run `fastTopics` directly on the raw counts. A simple thing to do would be to run fastTopics separately on the individual da

[2021-02-17 10:56] GreenGilad commented on #8
A bit of a silly question.. but where can I find your email? :) Would like to discuss this in more details over email.

[2021-02-17 19:17] pcarbo commented on #8
Look in the DESCRIPTION file.

[2021-02-24 06:58] chendianyu opened #9 "Extract top genes for each topic"
Hi, I wonder is there any similar function in `fastTopics` to extract top genes for each topic from the result of  `fit_topic_model()` as `ExtractTopFeatures()` in `CountClust`? I have tried to extract genes based on relative expression levels but I got many genes shared in different topics.

[2021-02-24 13:10] pcarbo commented on #9
@chendianyu Yes, use `diff_count_analysis`. See also the examples in [the vignette](https://stephenslab.github.io/fastTopics/articles/single_cell_rnaseq_basic.html).

[2021-02-24 13:11] #9 closed

[2021-02-24 13:40] #8 closed

[2021-03-24 22:34] maxybck opened #10 "Naming in a structure_plot for small number of samples"
I am trying to do create a fast_topics_model for a small number of samples (12) into four groups, but when I try to create a structure_plot I can't add names through the grouping option. I can get the structure plot to work when I don't try and name/group the samples, but it won't work if I try and add the grouping option. It is entirely possible that this simply isn't possible with a small number

[2021-03-25 02:26] pcarbo commented on #10
@maxybck I'm not sure if topic modeling will work well for a data set with n = 12. If it does work, I expect that you wouldn't be able to go beyond k = 2 or k = 3 topics. In any case, you might find that `pca_plot` works better for you than `structure_plot`.

[2021-03-25 15:42] maxybck commented on #10
Hi

How many samples would be enough? I was thinking of mining some exciting samples from similar tissues and including our data. Would 50 samples work? I'm just trying to geta sense of when this might be useful and how to make it useful.

Best
Max

written from my phone pardon any misspelling

________________________________
From: Peter Carbonetto ***@***.***>
Sent: Wednesday, March 24, 2021 8:2

[2021-03-25 15:47] pcarbo commented on #10
What is "enough" will depend on many factors, including the complexity of the structure in the data, the amount of noise in the measurements, etc. For expression data sets, we apply these methods to data sets with hundreds or thousands of samples, but you may be able to get away with fewer samples for simpler analyses (e.g., with a small number of topics).

[2021-04-19 19:56] pcarbo opened #11 "Create vignette to illustrate "projection" of samples onto existing F matrix"
Procedure to "project" cells onto a previously estimated F matrix: (a) run init_poisson_nmf, in which F is provide as input: (b) run fit_poisson_nmf, setting update.factors = NULL, which will keep F the same up to a column-scaling; and (c) run poisson2multinom to get the topic model. Note that F can be from a multinomial topic model fit or a Poisson NMF fit. (It doesn't matter.)

[2021-04-30 21:00] stephens999 opened #12 "feedback on structure_plot"
since i tried this out today I thought I'd give some feedback:
- i had some issues with the `grouping` I think because I used strings instead of a factor. Maybe check for this, or
use as.factor to convert strings to factors?

- Also had some issues with misspecifying the topics (eg more than were in the fit) and the wrong number of colors,
and it errored out, but only *after* spending some time do

[2021-05-01 15:41] pcarbo commented on #12
Thanks for the suggested improvements. I admit that the existing interface is a bit rough and requires some rethinking.

[2021-05-07 04:18] h1hui opened #13 "Imported Count Matrix by Seurat, but Col Names are Cell Names"
I imported raw count matrix from my seurat object, using function
`counts <- GetAssayData(object,"counts")`
And then found out my column names are cell names, unlike the sample dataset. How should I continue fastTopics from my Seurat object?

[2021-05-07 12:38] pcarbo commented on #13
@h1hui, Yes you should do

[code]

See also the fastTopics Seurat wrapper, which you can find [here](https://github.com/stephenslab/seurat-wrappers).

[2021-05-10 20:55] h1hui commented on #13
Thanks! It solved.

[2021-05-10 20:55] #13 closed

[2021-06-01 17:57] #11 closed

[2021-06-11 15:43] pcarbo commented on #12
@stephens999 I've overhauled the interface and implementation of the Structure plots. This new version should address all the issues you mentioned above. Please close the issue if you feel that it satisfactorily addresses these points otherwise let me know if you would like additional improvements.

Here are some examples illustrating several variations on the Structure plot:

[code]

[2021-07-06 00:27] willwerscheid opened #14 "Suggestions/questions about output"
The suggestion is that the output be nicely tabbed so I can more easily tell which columns are which. This is what I'm seeing:
[code]
Maybe this isn't an issue if it's intended to be output as a delimited file and read in for analysis. The question though is that in my two examples I've been using (untransformed scRNA-seq datasets) I get `loglik(multinom) = +Inf` for all iterations (100 EM and 100

[2021-07-06 04:11] pcarbo commented on #14
@willwerscheid Thanks for your feedback.

You shouldn't get log-likelihoods of `Inf`. Is there any way you could share with me the inputs to `fit_topic_model` so I can understand why this is happening?

[2021-07-06 04:13] pcarbo commented on #14
Do you mean the `fit_poisson_nmf` return value, or what is displayed on the screen (when `verbose = "detailed"`)?

[2021-07-06 10:31] willwerscheid commented on #14
what's displayed on screen

[2021-07-06 18:45] pcarbo commented on #12
@stephens999 @kevinlkx Reminding you again I would appreciate some feedback on the new improvements. Even basic feedback would be welcome.

[2021-07-06 18:47] pcarbo commented on #10
@maxybck Just an FYI that the new plotting interface should better accommodate your data. (And if you have additional issues, I would welcome feedback.)

[2021-07-06 19:14] pcarbo commented on #14
@willwerscheid Can you please take a look at the new descriptions of the `verbose` input argument and the `progress` return value and let me know if there are additional points you find unclear, or confusing?

[2021-07-06 20:22] willwerscheid commented on #14
With `dat` as the PBMCs dataset I'm using `K = 12`. I don't think the seed should matter because this was happening repeatedly for me. I expect that the `+Inf`s should appear for a variety of `K` as well. I'm unable to give an exactly reproducible example now but will do so later.

[2021-07-07 15:22] maxybck commented on #10
Thank you for the update! I will take a peak at this later today.

[2021-07-07 16:11] pcarbo commented on #14
@willwerscheid The Inf likelihoods are due to having cells with no expression:

[code]

This is technically allowed for the Poisson NMF model but doesn't make sense for the multinomial topic model.
I will have to think a bit how to handle this since this is a special case that I hadn't thought of.

[2021-07-07 16:12] pcarbo opened #15 "Properly handle count matrices with all-zero rows"
All-zero rows are allowed for the Poisson NMF model, but don't make sense for the multinomial topic model. I need to add some extra checks to properly handle this special case.

[2021-07-07 17:25] pcarbo opened #16 "Improve documentation for fit_topic_model"
There is quite a bit in the `fit_topic_model` documentation that is lacking.

[2021-07-09 01:51] maxybck opened #17 "Extracting all the genes for a given topic AND how to change volcano plot"
firstly, You briefly mentioned this was possible in another thread, but I was hoping to get a little more clarification for how to extract the genes that are important for any single topic. I have a nice plot shown below, but I was wondering how to get a systematic list of the genes in the top right as you mention in your vignette. Secondly, can you point me in the direction of how to change dot s

[2021-07-13 20:35] pcarbo commented on #17
@maxybck We are making some significant improvements to the differential expression analysis so I will leave this issue open and update you when these improvements are completed.

Typically the most relevant ("driving") genes are found toward the top-left corner of the volcano plot (high LFC, strong support); it is unclear if a single ranking method will work well generally.

For customizing the v

[2021-07-26 20:29] stephens999 commented on #12
this is a great improvement!

I think i have just one main suggestion.
I think i understand the `rows` argument, but it took me a little while. This is partly because it is doing two things: specifying which rows to plot and also the order. I think it would be more powerful (and perhaps clearer) if the default
behavior is to order according the "embed_method" and have an embed_method ="none" optio

[2021-07-26 20:31] stephens999 commented on #12
also is `n` equivalent to `rows= sample(1:nrow(fit),replace=FALSE, n)` ? I guess not... but which n rows are plotted if n is supplied?

[2021-07-27 16:47] pcarbo commented on #12
Thanks for the feedback @stephens999. I think these issues you raise stem from the fact that there are 3 inputs (rows, n, embed_method), and the interface might be more clear if I collapse them into 2 inputs.

Yes I agree one might like to order the topics differently for each group, but ggplot2 does not allow this (or not easily, at least).

I'll wait to get thoughts from @kevinlkx before making

[2021-07-28 03:20] kevinlkx commented on #12
I tried this on my datasets. It works well in general.

1. My major question/comment is about the `rows`. If I just want to plot a subset of the samples (e.g. first 2000 samples), shall I set rows = 1:2000? I tried that in your p4 example as below, and the results look strange to me.
`p4 <- structure_plot(fit,rows = 1:2000, grouping = subpop,gap = 40, colors = topic_colors)`

Similarly, in my mous

[2021-07-28 20:04] pcarbo commented on #12
Thanks for the comments @kevinlkx!

The "grouping" argument should always specify the groups for all the samples. I'm not sure what you mean by "cause conflict with grouping"?

No, you would use the "n" argument, e.g.,

[code]

Also note that there is still a "select" function (and "select_loadings", which does the same thing).

I agree with the confusion in the "rows" argument. I will change the

[2021-07-29 21:06] pcarbo commented on #12
@kevinlkx @stephens999 Following your suggestions I made a few changes to `structure_plot`. The main change is that I've removed the `rows` argument, and there is a new argument `loadings_order = "embed"` ("embed" is the default to make it clear that the ordering is determined by the 1-d t-SNE embedding).

I also made some improvements to `help(structure_plot)` to clarify some of the points of con

[2021-08-12 20:36] pcarbo opened #18 "More gracefully handle error in structure_plot when there are not enough colours"
When the default setting of `colors` is used, and the number of topics is more than 9, this error will be generated:

[code]

[2021-08-18 08:25] tomthomas3000 opened #19 "handling large datasets"
Thank you for this update to the clustcounts package. I am working with a relatively large dataset (~1.2 mill cells), I have subsetted into relevant 'buckets' to find relevant topics beyond traditional 'clustering' using topic modelling. This still yields datasets ranging in size from 30k-300k cells. As such, i had a few questions re: working with large datasets as below:

1) Do you have any sugge

[2021-08-19 03:13] pcarbo commented on #19
@tomthomas3000 fastTopics should be able to handle 1.2 million cells provided that you have sufficient memory. Based on my experience, I would recommend trying something like this to get reasonably good results relatively quickly:

[code]

where "nc" here is the number of cores or CPUs available on your machine.

For the choice of k, there may not be a single "best" k; consider that sometimes larg

[2021-08-22 16:22] cnk113 opened #20 "Convergence issues?"
Hello,

I've been trying to fit the model on my dataset, but it seems 1000+ iterations I still can't get the likelihood to plateau? There are many plateaus in the fitting, is this normal?
![image](https://user-images.githubusercontent.com/21249710/130362512-31f420b2-fbe9-4712-9c3f-fb372aa2f252.png)

Best,
Chang

[2021-08-22 19:16] pcarbo commented on #20
@cnk113 This is interesting. I suspect that there are some interesting complexities to your data set. Can you tell me a little more about your data set? Are you usiing `fit_topic_model` or `fit_poisson_nmf`? There is some info on optimization in the [advanced vignette on single-cell data](https://stephenslab.github.io/fastTopics/articles/single_cell_rnaseq_practical.html) that you may find useful.

[2021-08-23 02:04] cnk113 commented on #20
Yeah, I should've clarified this isn't a normal matrix. It's a count matrix of exon/introns x cells so it's a bit bigger (and sparser) than gene x cell matrix.
I'm using fit_topic_model: `fit <- fit_topic_model(t(counts),k = 30, numiter.main=1000, numiter.refine = 1000)`

[2021-08-23 14:40] pcarbo commented on #20
@cnk113 Yeah, so the issue is that you are increasing the number of EM iterations, which isn't really going to help you here; we use EM to obtain a good initial fit, but in many cases it has trouble converging, so we use the SCD method to more quickly obtain a solution (which is the default for `method.refine`). (Your example also suggests we may want to adjust the `fit_topic_model` defaults, or b

[2021-08-24 07:35] cnk113 commented on #20
With the parameters set at 100 EM and 500 SCD iterations.
![image](https://user-images.githubusercontent.com/21249710/130576098-f245ad78-5440-4cb3-a806-7f354d8f514c.png)
However just for fun I ran really long in the background with 5000 EM and 5000 SCD iterations.
![image](https://user-images.githubusercontent.com/21249710/130576178-df008050-84af-4def-9a01-0bca846d427f.png)

[2021-08-24 11:37] pcarbo commented on #20
Those plots confirm my suspicion that the EM has convergence difficulties in your example.

[2021-08-25 08:32] #20 closed

[2021-09-03 09:02] tomthomas3000 commented on #19
Thank you for the suggestion! I was trialling this on a portion of the overall dataset [13.5k cells] with 24 cores [each core has 16GB]. K=6. The init method changed from topicscore to random initialisation. Could you suggest why this might be the case? Also, this taking ~24 hours in total to run for 13.5k cells* - could this be because of the switch to random initialisation?

Full output below:
#

[2021-09-03 11:46] pcarbo commented on #19
@tomthomas3000 The main issue I see is that X is not represented as a sparse matrix, even though the data are indeed sparse. So I would try something like this first:

[code]

[2021-09-03 13:30] tomthomas3000 commented on #19
thank you @pcarbo  - I have added this step to the workflow, and it no longer throws up that point re: Input matrix "X" has less than 10% nonzero entries; consider converting "X" to a sparse matrix to reduce computational effort. This is already faster than before, so much better especially when I scale up to buckets of cells with 300k cells.

However, I still get Topic SCORE failure, and then use

[2021-09-03 16:19] pcarbo commented on #19
@tomthomas3000 This is not a critical issue; a random initialization should be okay.
Yes, runtime should increase linearly with k.
My default would be to use all genes, but a case could be made for filtering out genes if, say, it is known in advance that some genes will be unhelpful for distinguishing cell types.

[2021-09-03 17:14] tomthomas3000 commented on #19
@pcarbo fantastic - another (last) question, does the number of updates (numiter) required to improve the NMF model vary with specified K values i.e. for different K values, different numbers of updates would be required to estimate parameters to get close to the maximum-likelihood solution? Thanks again and apologies for the mini q&a session.

[2021-09-03 18:17] pcarbo commented on #19
@tomthomas3000 Broadly speaking, no, or at least not directly; it would depend less on the size of K, and more on to what extent the topics (or basis vectors) are interdependent, which I suppose could become more likely as K increases. In short I cannot provide general guidance for that question.

[2021-09-04 17:38] tomthomas3000 commented on #19
no worries and understandable - another query to prevent misunderstanding on my part: for the purpose of quick results, you recommended running above:
`fit <- fit_poisson_nmf(X,k,numiter = 200,method = "scd",control = list(numiter = 4,extrapolate = TRUE,nc = nc))`

Should I be running `init_poisson_nmf` manually/explicitly before running `fit_poisson_nmf` as per your suggestion. Do I need to refin

[2021-09-05 01:25] pcarbo commented on #19
@tomthomas3000 fit_topic_model is effectively just a wrapper for fit_poisson_nmf + poisson2multinom; you can use either one, it is just a matter of preference. Generally I would recommend using fit_poisson_nmf if you want finer control over the optmization.

You could also run init_poisson_nmf, but it isn't necessary. I would only recommend using init_poisson_nmf if, say, there was some additional

[2021-09-05 15:01] tomthomas3000 commented on #19
fantastic - thank you for your helpful suggestions and advice!

[2021-09-05 15:01] #19 closed

[2021-11-03 17:14] YPARK opened #21 "RcppParallel library flags"
It took me a while until I found out that`RcppParallel::RcppParallelLibs()` generates nothing on my Mac OS laptop. This gave me errors in installation and loading.

After I set the following in `.R/Makevar`, I had no issues.

[code]

[2021-11-04 02:54] pcarbo commented on #21
@YPARK Thanks for this. Did you install `RcppParallel` from source? My understanding is that if you install `RcppParallel` using `install.packages` then the TBB libraries will be included in the installation, so you don't need to install TBB separately (I may be wrong though).

[2021-11-05 15:19] YPARK commented on #21
@pcarbo I think it's a Mac-related issue. When I first installed `RcppParallel` binary, it didn't check TBB and assumed that was installed. For the record, I am using `R` and `tbb` installed by `homebrew` and `RcppParallel` with `type="source"`.

[2021-11-05 15:28] pcarbo commented on #21
I'm going to close this issue but thanks for sharing this info.

[2021-11-05 15:28] #21 closed

[2022-02-03 14:57] Zepeng-Mu opened #22 "structure_plot not working on "fit" from "predict()" function"
Hello,
I'm following the steps in the vignette to first predict topics in other groups of cells and then plot the structure plot, but I got this error in the latest version of fastTopics: "Error in value[[3L]](cond) : Invalid selection of loadings".

This is because `select_loadings` tries to subset `Ln` in the `fit_test` from `predict`, which does not have the same row numbers as `fit_test$L` in

[2022-02-03 17:00] Zepeng-Mu commented on #22
Hi, I'm using version 0.6-97. In my case I first fit the model on 5000 cells, and then use this to predict another 30000 cells. So many cells in "fit_test" does not appear in the original "fit".

In the "single_cell_rnaseq_basic" vignette the cells in "count_test" seems to be a subset of those in "count", so in the vignette there is no error.

I wonder if I can just manually set Ly and Ln to L, si

[2022-02-03 17:19] pcarbo commented on #22
`counts_test` is not a subset of `counts`:

[code]

You should be able to run `predict` on a separate set of cells so long as the genes (or more generally, columns of the counts matrix) are same.

If you can send me a code snippet I can run I can troubleshoot your problem.

[2022-02-03 17:46] pcarbo commented on #22
The problem is not fastTopics, rather the code I used in the vignette. Here is some better code:

[code]

Does it work for you now?

[2022-02-03 17:56] Zepeng-Mu commented on #22
Let me try this on my data. Thanks!

[2022-02-04 15:34] #22 closed

[2022-02-25 16:38] aksarkar opened #23 "Threading init message is printed even when verbose="none""
https://github.com/stephenslab/fastTopics/blob/f40a2668604f8d6b96dacf8fba352feb6fcc9545/R/misc.R#L132-L141

This produces a lot of noise when calling in a loop, especially through `rpy2`, e.g.

[code]

[2022-02-26 05:01] guanxn90 opened #24 "count not find function "diff_count_clusters""
Thanks a lot for developing this great package.

I installed the 'fastTopics' through `remotes::install_github("stephenslab/fastTopics")`,
I am following the tutorial, but at **interpreting topics by analyzing gene expression differences** error occurs saying cannot find the diff_count_cluster function.

Thanks a lot,
Guan

**R4.0.2 and sessionInfo:**
attached base packages:
[1] stats     graphics

[2022-02-27 02:04] #24 closed

[2022-02-28 16:30] #23 closed

[2022-03-11 14:42] dagarfield opened #26 "Feature request: Batch correction variable?"
Hello! Very happy with this software tool. I was wondering if it is possible to include a batch correction variable in the topic calculation in cases where a dataset consists of multiple batches and *simple* batch effects (of the sort that might be handled with an extra term in a linear model).

Cheers,

DG

[2022-03-11 20:05] pcarbo commented on #26
@dagarfield Thanks for the positive feedback on `fastTopics`.

Re: batch effects (or other fixed effects). This is something that has come up before, but isn't currently implemented. [GLMPCA](https://github.com/willtownes/glmpca) is an R package that might better accommodate your setting; it allows for defining batch effects or other fixed covariates. An *ad hoc* alternative to consider would be t

[2022-03-11 20:26] dagarfield commented on #26
So far it hasn't really been an issue for this dataset, but will limit our ability to use this approach as project start to contain data from more and more runs (and possible labs). I might thus gentle encourage such an approach (we like the interface of your code too). But I'll check out GLMPCA, thanks for that. Had some luck with batch effects and the iNMF approach in Liger, but nothing beats St

[2022-03-14 12:52] pcarbo commented on #26
@dagarfield Yes, I agree with you on the need extending the topic model to allow for multiple batches or multiple data sets, similar to what has been in Liger and other methods, or a hierarchical approach similar to [Levitin et al](https://doi.org/10.15252/msb.20188557). [There is also the structural topic model, or STM, of Roberts *et al* ("A model of text for experimentation in the social scienc

[2022-03-15 18:49] pcarbo commented on #26
Yes, you could use a beta glm, although for the purposes of exploratory analysis, boxplots and scatterplots comparing topic proportions vs. covariates of interest should work just fine.

Also note that the `X` in fastTopics need not be integer-valued (it only needs to contain non-negative real numbers).

[2022-03-15 19:39] dagarfield commented on #26
It was more that I wanted to "remove" the batch effect than anything else.

Huh..I had assumed with Poisson-based model, non-integer values would take us to a weird place. This is very good to know, as it opens up a range of possibilities, though presumably we'd want to return the values as close as possible to their original meaning as possible for interpretation (e.g. removing any log transforms

[2022-03-16 15:16] dagarfield commented on #26
Great, good to know. Then it sounds like one potential solution in the batch case is, indeed, to extract the corrected values (then un-log and un-normalize them) from, e.g. fastMNN, and use these new, non-integer (but still non-negative) values as the input X.

[2022-03-16 15:16] #26 closed

[2022-03-22 15:29] jackkamm opened #27 "Feature request: Gamma prior for NMF loadings"
I'd like to request an option to incorporate a Gamma prior for the NMF loadings into the Poisson-NMF likelihood function.

I believe this would make the fastTopics model equivalent to the original Latent Dirichlet Allocation, due to the close relationship between Gamma and Dirichlet distributions (in particular, independent Gammas with shared scale parameter, become Dirichlet after dividing by the

[2022-03-22 15:47] jackkamm commented on #27
I just took a second look at your paper and saw that you already considered using Gamma priors in Appendix A2 -- sorry, I should have checked that before posting.

However, I don't see a way to set any Gamma prior parameters in fit_topic_model() -- is it possible to specify these?

[2022-03-23 02:12] pcarbo commented on #27
@jackkamm Yes in the paper we mention Dirichlet priors on F in the topic model (i.e., the word frequencies matrix). Are you interested in encouraging sparse word frequencies F, or sparse topic proportions L (or both)? Note that Gamma priors on L in Poisson NMF and Dirichlet priors on L in the (multinomial) topic model are not equivalent. You only get the equivalence for F.

[2022-03-24 02:24] pcarbo commented on #27
Unfortunately, *maximum a posteriori* (MAP) estimation with a Dirichlet prior [is a hard problem](https://proceedings.neurips.cc/paper/2011/hash/3871bd64012152bfb53fdf04b401193f-Abstract.html), which is one reason, I believe, why the variational inference approach implemented in LDA is more doable than MAP estimation.

[2022-03-24 02:30] pcarbo commented on #27
I don't recall the exact priors used, but you might check out the [maptpx](https://github.com/TaddyLab/maptpx) R package.

[2022-03-25 20:09] jackkamm commented on #27
Thanks for the references, I will check them out.

I'll close out this feature request, since its scope seems larger than I had initially thought.

[2022-03-25 20:09] #27 closed

[2022-03-31 13:02] marlaherr commented on #14
Hi there,

Thanks for the great tool!

I am experiencing a similar issue as @willwerscheid  after running `fit_topic_model`. All my log-likelihoods are Inf.

[code]
As expected, running `plot_progress` gives me an empty plot, but `structure_plot` still produces a normal looking structure plot. Can I trust this plotting result though?

I don’t seem to have cells without expression, although I do ha

[2022-04-01 02:39] pcarbo commented on #14
@marlaherr Can you try running `fit_poisson_nmf` instead, then converting to a topic model with `poisson2multinom`?

[2022-04-01 08:25] marlaherr commented on #14
Thanks for the quick response @pcarbo. I tried your suggestion but still get the same output. The Inf values appear after fitting.

[code]

This is the structure of my counts object:

[code]

And this is how the fit object looks like:

[code]

I am grateful for any suggestions, thanks in advance!

[2022-04-01 12:26] pcarbo commented on #14
@marlaherr Would you mind sharing the result of running `fit_poisson_nmf`?

[2022-04-04 08:12] marlaherr commented on #14
@pcarbo, do you mean the “fit” R object? I am not entirely sure how to best share it. Does a csv file work? Otherwise I could send it to you via email.

[fit_marla.csv](https://github.com/stephenslab/fastTopics/files/8407841/fit_marla.csv)

[2022-04-04 12:23] pcarbo commented on #14
Yes, but can you save the `fit` object using `save` (to create an RData file) or `saveRDS` (to create an rds file)? Then you should be able to attach it to your reply to this GitHub Issue, or you can send an email.

[2022-04-11 10:56] marlaherr commented on #14
I tried to attach it as either .RData or .rds file but neither is supported by GitHub. Would you let me know your email address so I can send you the file? Thanks for your help!

[2022-04-11 15:24] pcarbo commented on #14
@marlaherr It looks like there is a bug or numerical issue in the multinomial likelihood calculations inside`fit_poisson_nmf` because `loglik_multinom_topic_model` works fine:

[code]

So for now please use `loglik_multinom_topic_model`.

[2022-04-20 14:45] marlaherr commented on #14
Thank you @pcarbo, `loglik_multinom_topic_model` works!

[2022-04-21 14:33] pcarbo commented on #14
@marlaherr I've fixed the likelihood calculations so it should work for your data set now. The issue was that the likelihood calculations sometimes did not work for non-integer counts. Please update your version of `fastTopics` to the latest version.

[2022-04-24 19:07] willwerscheid opened #28 "bug in compile_structure_plot_data when a group is empty"
A group can be empty after downsampling. In this case n = 0, so the line `dat <- data.frame(sample = rep(1:n, times = k), topic = rep(topics,
    each = n), prop = c(L[, topics]))` produces an error (1:n is the vector c(1, 0), so sample has length 2k, but topic has length 0)

[2022-04-24 19:20] pcarbo commented on #28
@willwerscheid What would you suggest? One option would be to avoid removing all samples in a group; e.g., set a minimum number of samples per group.

[2022-04-24 19:23] willwerscheid commented on #28
I'm not sure -- would just returning an empty data frame if n = 0 work there? or do you end up with overlapping labels? if the latter then it probably makes more sense to remove the groups

[2022-04-25 12:37] marlaherr commented on #14
Yes, now it works, many thanks @pcarbo.

[2022-04-29 17:08] #28 closed

[2022-06-29 10:18] inbarsh2 commented on #8
Hi,
I encountered a similar problem in which I try to run fastTopic on integrated data. I would like to run fastTopic on each dataset separately, as you suggested, but I am not sure how to effectively compare the results.
thank you!

[2022-06-29 17:55] pcarbo commented on #8
@inbarsh2 Could you explain in more detail what you mean by "compare the results"?

[2022-07-05 12:19] inbarsh2 commented on #8
Sure.
I have data from patients with high variability between samples I need to overcome. I would like to use fastTopic on each sample separately and then find common expression programs or genes. My question is what is the best way to do so.
I also tried to integrate the data and then run fastTopic, but it isn't the correct input for the algorithm since the matrix is scaled (as described above).

[2022-08-08 10:28] nikofleischer opened #29 "Update Vignette"
In the vignette, the function `diff_count_clusters` and `diff_count_analysis` are called to calculate differences in gene contribution to the topics. these don't exist in the package anymore.

After some confusion I deducted that `de_analysis()` is the correct function name now, might be good to update.

Best and thanks for the great package,
Niko

EDIT: there are more changes, I will update every

[2022-08-08 11:19] pcarbo commented on #29
Thanks @sparsepix. Yes indeed the vignettes need to be updated since several major changes have been making to the interface. I unfortunately won't be able to address this immediately but I will leave this Issue open as a reminder.

[2022-09-30 08:43] geng-lee opened #30 "Geting Help for FastTopics Error"
Hi,

How to solve this error, and use FastTopics to process Seurat Object?

How to use FastTopics to process Seurat Object, demonstrating data is not a standard Seurat Object. Although I extracted some of the information in Seurat Object to build a similar list, I still failed to run, and I encountered many errors. E.g:

structure_plot(fit,colors = topic_colors,topics = 1:16,gap = 25,
+

[2022-09-30 12:29] pcarbo commented on #30
@geng-lee It looks like you successfully ran `fit_topic_model` or `fit_poisson_nmf`? Could you share your `fit` output in an .RData or .rds file?

[2022-09-30 15:26] geng-lee commented on #30
OK！Thank you very much!
Could you give me an e-mail address? I will send you the data and code. The .rds file size is huge.

[2022-10-02 03:29] geng-lee commented on #30
I have already sent an email to this e-mail address. pcarbone@bsd.uchicago.edu

If you have any questions, please contact me, look forward to your reply！

[2022-10-02 15:25] pcarbo commented on #30
I got it, thanks.

[2022-10-11 02:46] geng-lee opened #31 "function error-diff_count_clusters() & diff_count_analysis()"
Hi,

Can the structure_plot function be displayed with a weight? Too many color blocks make me unable to distinguish their characteristics.

Second, I loaded FastTopics, but I couldn't use the function. I received the following error:

[code]

Thanks!

Best,
Jamie

[2022-10-11 14:03] pcarbo commented on #31
@geng-lee Please use `de_analysis` instead. (Apologies the vignettes need to be updated.)

[2022-10-11 14:14] geng-lee commented on #31
OK，Thanks！😁

[2022-10-24 14:31] #31 closed

[2022-10-24 14:31] #30 closed